body {
  background-color: rgb(191, 191, 191);
  font-family: Arial;
}

.boton-prueba {
  background-color: rgb(191, 64, 64); /* Rojo puro */
  color: rgb(64, 191, 191); /* Cian puro (brillante) */
  width: 600px; /* Tamaño excesivo */
  height: 150px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.boton-prueba:hover {
  background-color: rgb(64, 191, 64); /* Verde puro (brillante) */
  transform: scale(1.05);
}
