body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-weight: 300;
  background-color: black;
  color: white;
  box-sizing: border-box; /* Incluir padding y border en el cálculo de ancho */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px; /* Añadimos 70px de margen lateral */
  background-color: #000;
  color: white;
}

header .logo {
  max-height: 80px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

header nav a:hover {
  text-decoration: underline rgb(0, 128, 0);
}

h1 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 0px;
}

.container {
  padding: 20px 70px; /* Ajustar márgenes laterales */
  max-width: 1200px; /* Limitar ancho máximo para centrar el contenido */
  margin: 0 auto; /* Centramos horizontalmente */
  box-sizing: border-box; /* Ajuste de bordes */
}

p {
  font-size: 24px;
  margin-bottom: 40px;
}

.upload-box {
  align-content: center;
  border: 2px dashed green;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  height: 40%;
  min-height: 200px;
  max-height: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.upload-box:hover {
  background-color: #111;
}

.upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.upload-box p {
  text-align: center;
}

.upload-box button.active {
  display: inline-block;
}

.analyze-button {
  display: none;
  margin: 25px auto;
  padding: 10px 20px;
  border: 2px solid green;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 300;
  font-family: Segoe UI;
  font-size: 32px;
}

.logo {
  height: 125px;
  width: auto;
}

.upload-box.drag-over {
  background-color: #111;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 55px;
  margin-right: 55px;
}

styled-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(0, 128, 0);
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 330px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

styled-card span[slot="header"] {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

styled-card span[slot="value"] {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px 0;
}

styled-card span[slot="description"] {
  font-size: 1.2rem;
  margin: 10px 0;
}

.recommendation-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px; /* Separar del resto del contenido */
  padding: 0 70px; /* Márgenes laterales para alinear con el resto */
}

:host(recommendation-item) .icon,
:host(recommendation-item) .action {
  font-size: 3rem;
  color: rgb(0, 128, 0);
  display: inline-block;
  text-align: center;
}

:host(recommendation-item) .title,
:host(recommendation-item) .score {
  font-size: 1.5rem;
  color: white;
  margin: 0 10px;
}

.recommendation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid rgb(0, 128, 0);
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.material-icons {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.flash.error {
  background-color: #ff4c4c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  width: 80%;
}
