<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <!-- Link al archivo CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="{{ url_for('main.index') }}">
        <img
          src="static/images/logo-placeholder.svg"
          alt="Glow Logo"
          class="logo"
        />
      </a>
      <nav>
        <a href="#">About</a>
      </nav>
    </header>
  </body>
</html>
