<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glow - HTML GUI Analyzer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body>

    <div class="container">
      <h1>
        Make your GUI shine brighter with optimized design and lower carbon
        emissions
      </h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <form action="/results" method="POST" enctype="multipart/form-data" id="upload-form">
      <div class="upload-box" id="upload-box">
        <p id="file-name">
        Drag your HTML file here or click to upload and watch the magic happen!
        </p>
        <input
          id="file-input"
          type="file"
          name="file"
          accept=".html,.zip"
          required
          onchange="showAnalyzeButton()"
        />
      </div>
      <button id="analyze-button" class="analyze-button type="submit">Analyze</button>
    </form>
  </body>
</html>
